*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid;
}

.debug{
    
}

body{
    padding: 1rem;
}

header{
   
    width: 80%;
    background-color: #d9817d;
    margin: auto;
}

nav{
    display: flex;
    justify-content: space-between;

}


