*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid; */
}

.debug{
    
}

header{
    width: 80%;
    margin: auto;
}

nav{
    display: flex;
    background-color: #d9817d;
    justify-content: space-between;
    margin: 1rem;

}

.hero{
    background-color: #95a8e3;
    min-height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
 background-color: #abaebd;
 min-width: 200px;
 min-height: 100px;
}

